:root {
    --accent: var(--sexy-blue);
    --dark-accent: var(--dark-green);

    --black: #09090b;
    --white: #fafafa;
    --dark-green: #315a31;
    --sexy-blue: #58d8c9;
}

* {
    box-sizing: border-box;
}

body {
    display: block;

    background-color: var(--black);
}
